@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body{
    font-size: auto;
    margin: auto;
    font-family: 'Megrim', cursive;
    color: white;
    background: rgb(19, 0, 43);
}
header{
    padding: 5px;
    color: white;
    background-image: linear-gradient(rgb(255, 198, 243), rgb(48, 0, 90))
}
{
}
