@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

html{
    scroll-behavior:smooth;
}
body{
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(rgb(1, 16, 37),rgb(255, 32, 177),rgb(1, 16, 37),rgb(255, 32, 177),rgb(1, 16, 37));
}
header{
    padding:10px;
}
.track_box{
    padding: 1%;
    background-image: linear-gradient(rgb(1, 16, 37),rgb(255, 32, 177),rgb(1, 16, 37))
}
audio{
    width:100%;
    padding: auto;
}
.txt{
    padding:5px;
}
footer{
    color:rgb(255, 32, 177);
}  
a{
    color:white; 
}
h1{
    font-size:70px;
}
h2{
    font-size:35px;
}
h3{
    font-size:25px;
}
.upp{
    position: fixed;
    bottom:60px;
    right:60px;
    width:60px;
    height:60px;
    background-image: linear-gradient(rgb(255, 32, 177), rgb(1, 16, 37), rgb(255, 32, 177));
    border-radius:50%;
    font-size:50px;
    color: white;
}