@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-size: auto;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    background: black;
    background-image: linear-gradient(black, white)
}
header{
    padding: 5px;
    color: white;
}
.upp{
    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;

    color: black;
}
audio{
    width: 100%;
    padding: 5px;
    color: white;
    background-image: linear-gradient(white, black)
}
footer{
    width: 100%;
    padding: 5px;
    color: white;
    background-image: linear-gradient(white, black)
}
a{
color: red; 
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
    color: red; 
}
h3{
    font-size: 25px;
}
shadow{
    width: 100%;
    padding: 5px;
    color: white;
    background-image: linear-gradient(white, black)
}