@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
html{
    scroll-behavior:smooth;
}
body{
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(rgb(1, 16, 37),rgb(233, 212, 255),rgb(1, 16, 37));
}
header{
    font-size:40px;
}
.track_box{
    background-image: linear-gradient(rgb(1, 16, 37),rgb(233, 212, 255),rgb(1, 16, 37));
}
audio{
    width:100%;
}
.txt{
}
img{
    display:block;
    width: 100%;
    height: auto;
}
.mynd_rod{
    display:grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
}
@media screen and (min-width:600px) {
    
    .mynd_rod{
        display:grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:768px) {
    
    .mynd_rod{
        display:grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:1280px) {
    
    .mynd_rod{
        display:grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:2000px) {
    
    .mynd_rod{
        display:grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
figcaption{
    padding: 1px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
figure{
    padding: 7px;
    background-image: linear-gradient(rgb(1, 16, 37),rgb(233, 212, 255),rgb(1, 16, 37));
}  
a{
    color:white; 
}
.upp{
    position: fixed;
    bottom:60px;
    right:60px;
    width:60px;
    height:60px;
    background-image: linear-gradient(rgb(1, 16, 37),rgb(233, 212, 255),rgb(1, 16, 37));
    border-radius:50%;
    font-size:50px;
    color:rgb(1, 16, 37);
}
table{
    width: 100%;
    padding: 2px;
    background: white;
}
caption{
    color:rgb(37, 21, 73);
    padding: 5px;
}
form{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(rgb(1, 16, 37),rgb(233, 212, 255));
}
th, td{
    background-image: linear-gradient(rgb(1, 16, 37),rgb(233, 212, 255));
    border: 4px solid rgb(12, 34, 67);
    padding: 15px;
}
legend{
    padding: 10px;
}
@media screen and (max-width:600px) {
    thead{
        display: none;
    }
    td{
        display: block;
        text-align: right;
    }
    .tr1{
        display: block;
        margin-bottom: 15px;
    }
    .tr2{
        display: block;
        margin-bottom: 15px;
    }
    tr{
        display: block;
        margin-bottom: 0px;
    }
    td::before{
       content: attr(data);
       float: left;
    }
}
footer{
}