body{
    background-color:white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 100%;
    font-size: 25px;
    color: white;
    border : 4px solid black;
}
caption{
    color:rgb(37, 21, 73);
    padding: 5px;
}
th, td{
    background-image: linear-gradient(rgb(1, 16, 37),rgb(140, 32, 255),rgb(233, 212, 255));
    border: 4px solid black;
    padding: 5px;
}
form{
    width: 40%;
    padding: 10px;
    background-image: linear-gradient(rgb(1, 16, 37),rgb(140, 32, 255),rgb(233, 212, 255));
    color: white;
    border : 4px solid black;
}
legend{
    padding: 10px;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 35px;
}
@media screen and (max-width:600px) {
    thead{
        display: none;
    }
    td{
        display: block;
        text-align: right;
    }
    tr{
        display: block;
        margin-bottom: 5px;
    }
    td::before{
       content: attr(data);
       float: left;
    }
}