html,body{
    height: 100%;
}

body{
    background: linear-gradient(red, blue);
}

h1{
   font-size: auto;
}

.a{
    background: gold
    grid-area: a;
}

.b{
    background: silver
    grid-area: b;
}

.c{
    background: brown
    grid-area: c;
}

.d{
    background: coral
    grid-area: d;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas:
    "d"
    "c"
    "b"
    "a";
}

@media screen and (min-width:1000px){

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d";
    }
}

@media screen and (min-width:1000px){

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
        "d c b a";
    }
}