body{
    font-size: 10px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 0, 156);
}
h1{
    font-size: 20px;
}
header{
    padding: 30px;
    color: white;
    background-image: linear-gradient(rgb(42, 0, 79), rgb(83, 0, 156));
}
.headers_txts{
    padding: 1px;
    color: white;
    background-image: linear-gradient(rgb(67, 0, 125), rgb(96, 0, 180));
}
.tveir_dálkar{
    padding: 5px;
    background-image: linear-gradient(rgb(0, 255, 170), white);
}
.a{
    padding: 5px;
    background-image: linear-gradient(rgb(0, 255, 170), white);
}
.fjórir_dálkar{
    padding: 5px;
    background-image: linear-gradient(rgb(0, 255, 170), white);
}
@media screen and (min-width:350px) {
    .tveir_dálkar{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:800px) {
    .tveir_dálkar{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:800px) {
    .a{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:400px) {
    .b{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:350px) {
    .fjórir_dálkar{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:800px) {
    .fjórir_dálkar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:1400px) {
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:450px) {
    nav{
        display: grid;
        grid-template-columns: 1fr;
    }
}
.footer_shadow{
    padding: 1px;
    color: white;
    background-image: linear-gradient(rgb(83, 0, 156), rgb(42, 0, 79));
}
nav {
    padding: 10px;
    color: white;
}
footer{
    padding: 5px;
    color: white;
}