body{
    font-size: 10px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 0, 156);
}
h1{
    font-size: 20px;
}
header{
    padding: 5px;
    color: white;
    background: rgb(83, 0, 156);
}
.txt{
    padding: 1px;
    color: white;
    background: rgb(83, 0, 156);
}
.tveir_dálkar{
    padding: 5px;
    background-image: linear-gradient(rgb(0, 255, 170), rgb(186, 255, 238));
}
.a{
    padding: 5px;
    background-image: linear-gradient(rgb(0, 255, 170), rgb(186, 255, 238));
}
.fjórir_dálkar{
    padding: 5px;
    background-image: linear-gradient(rgb(0, 255, 170), rgb(186, 255, 238));
}
@media screen and (min-width:350px) {
    .tveir_dálkar{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:800px) {
    .tveir_dálkar{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:800px) {
    .a{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:400px) {
    .b{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:350px) {
    .fjórir_dálkar{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:800px) {
    .fjórir_dálkar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:1400px) {
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:450px) {
    nav{
        display: grid;
        grid-template-columns: 1fr;
    }
}
nav {
    padding: 10px;
    background-image: linear-gradient(rgb(0, 255, 170), rgb(186, 255, 238));
    color: rgb(83, 0, 156);
}
footer{
    padding: 5px;
    color: white;
    background: rgb(83, 0, 156);
}