body{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border : 2px solid #000000;
}

section{
    border : 2px solid #000000;
}

@media screen and (min-width:480px){ 
    .col-2{ 
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:480px){ 
    .col-2, .col-3, .col-4{
        display: grid;
        grid-template-columns: 1fr;
    
    }
}

@media screen and (min-width:720px){ 
    .col-2, .col-4{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
}

@media screen and (min-width:1080px){ 
    .col-2, .col-3, .col-4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
}

nav{
    border : 2px solid #000000;
}

footer{
    border : 2px solid #000000;
}