body{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border : 2px solid #000000;
}

.col-2, .col-3, .col-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

section{
    border : 2px solid #000000;
}

@media screen and (min-width:37.5em){ 
    .col-2, .col-3, .col-4{
        display: grid;
        grid-template-columns: 1fr;
    
    }
}

@media screen and (min-width:37.5em){ 
    .col-2, .col-4{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
}

@media screen and (min-width:48em){ 
    .col-2, .col-3, .col-4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
}

nav{
    border : 2px solid #000000;
}

footer{
    border : 2px solid #000000;
}