body {
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(140, 140, 140);
}

nav {
    padding: 4px;
    background-color: rgb(140, 140, 140);
}

section {
    margin: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(221, 255, 162);
}

aside {
    margin: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(221, 255, 162);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

footer {
    margin: auto;
    width: 100%;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(140, 140, 140);
}