body {
    margin: auto;
    border : 8px solid rgb(0, 7, 83);
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: Arial;
    font-size: auto;
    color: rgb(255, 255, 255)
}

header {
    color: rgb(0, 7, 83);
}

main {
    background-color: rgb(0, 7, 83);
}

nav {
    padding: 5px;
}

article {
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 7, 83);
}

aside {
    width: 50%;
    padding-left: 15px;
    float: right;
    background-color: rgb(0, 7, 83);
}

section {
    width: 50%;
}

footer {
    padding: 8px;
    background-color: rgb(0, 7, 83);
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 35px;
}